html, body, #form, #panel {
    height: 100%;
}

/* global body padding */
body {
  padding-top:    20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
    body {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

article {
    max-height: 1.5em; /* single line */
    overflow: hidden;
}

.uploadFileContainer {
    display: none;
}

.uploadFileContainer .fileSize {
    float: right;
}

/* global spacing overrides */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar-fixed-top,
.navbar-static-top {
  border-bottom: 0;
}

.logo-light1 {
    fill: #262261;
}

.logo-light2 {
    fill: #be1e2d;
}

.logo-light3 {
    fill: #3663ae;
}

.logo-inverse1 {
    fill: #6ed2ff;
}

.logo-inverse2 {
    fill: #ff6e6e;
}

.logo-inverse3 {
    fill: #a9deff;
}

.iconav-brand > svg > .logo-light1,
.iconav-brand > svg > .logo-light2,
.iconav-brand > svg > .logo-light3 {
    fill: #eee;
}

.iconav-brand > svg > .logo-inverse1,
.iconav-brand > svg > .logo-inverse2,
.iconav-brand > svg > .logo-inverse3 {
    fill: #6f7890;
}
